.stock{
    padding: 65px;
    color: white;
}

.stock h1{
    margin: 0;
}

.d{
    width: 21%;
}


.scs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
