* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    height: 70px;
    position: fixed;
    z-index: 2;
    background-color: black;

}
.nav-logo{
    width: 15%;
    color: white;
}
.nav-logo li{
    list-style: none;
}

.nav-logo_h1{
    text-decoration: black;
    color: white;
    font-size: 40px;
}

.nav-flex{
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
}




.nav-flex  li{
    list-style: none;
}
.nav-flex li a{
    text-decoration: none;
    color:white;
    font-size: 17px;
    transition: 0.3s;
    position: relative;
    padding-bottom: 5px;

}
.nav-flex li a::before{
    content: "";
    width: 0;
    height: 3px;
    transition: 0.3s;
    left: 0;
    bottom: 0;
    position: absolute;
}

.nav-flex li a:hover{
    transition: .4s;
}

.btn{
    width: 20%;
}
.btn ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 412px){
/*.nav{*/
/*    justify-content: space-between;*/

/*    }*/
    .nav-flex{
        margin-left: 30px;
    }
}

